@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

/*Pages*/
.page-header {
  display: flex;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.logo {
  display: block;
  margin-left: 70px;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 415px;
  margin-left: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.navigation-button {
  min-width: 160px;
  padding: 9px 15px;
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.navigation-button:hover {
  color: #615048;
}

.navigation-button:focus {
  color: #615048;
}

.navigation-user .navigation-link {
  min-width: 42px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  margin-right: 70px;
  padding-top: 10px;
  list-style-type: none;
  margin-left: auto;
  position: relative;
  margin: 0 auto;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url('../images/header/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url('../images/header/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link {
  display: block;
  padding: 12px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  text-align: center;
  padding-top: 51px;
  margin-bottom: 82px;
}

.main-index {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/body/mountins.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro {
  background-color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.intro-Sedona {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 620px;
  text-align: center;
  align-self: center;
}

.intro-reasons {
  font-size: 22px;
  line-height: 26px;
  width: 654px;
  text-align: center;
  align-self: center;
}

/*List*/
.advantages {
  text-align: center;
}

/*Title*/
.advantages-title {
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Advantages*/
.blue {
  margin-bottom: 0;
  padding: 92px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
}

.advantages-city {
  display: flex;
}

.reasons-city {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.advanteges-canyon {
  display: flex;
}

.image {
  display: block;
}

.reasons-canyon {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.light-blue-city {
  padding: 80px 85px 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.food {
  padding: 80px 85px 81px 85px;
  background-color: rgba(255, 255, 255, 1);
  width: 400px;
}

.light-blue-canyon {
  padding: 103px 85px 102px 85px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.beauty-road {
  padding: 103px 85px 102px 85px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.letter {
  padding: 94px 200px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #FFFFFF;
  background-image: url(../images/body/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.letter-catalog-page {
  margin: 0;
  padding: 94px 200px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: #FFFFFF;
}

.letter-form {
  display: flex;
}

.letter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 29px;
}

.field {
  width: 600px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 21px;
}

.letter-title-catalog-page {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.button-letter-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 0;
  width: 200px;
  height: 60px;
}

.button-letter-button:hover {
  color: #68A2CA;
}

.button-letter-button:focus {
  color: #68A2CA;
}

.hotel-search {
  text-align: center;
  padding: 0;
  margin-top: 91px;
}

.search-date {
  width: 592px;
  margin-top: 29px;
  margin-bottom: 56px;
  margin-left: 304px;
  margin-right: 304px;
}

.button-button-search {
  width: 544px;
  padding: 12px 15px;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 93px;
  margin-top: 56px;
}

.button-button-search:hover {
  color: #615048;
}

.button-button-search:focus {
  color: #615048;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  position: relative;
}

.footer-social-item:hover {
  color: #68A2CA;
}

.footer-social-item:focus {
  color: #68A2CA;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  align-self: center;
  padding: 5px 194px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.htmlacademy-link {
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 32px;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:focus {
  color: #756157;
}

.inner-header {
  padding-left: 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
}

.main-inner {
  padding-top: 35px;
  margin-bottom: 10px;
  background-image: url(../images/body/catalog-background.jpg);
  color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  color: #3F5E72;
  list-style-type: none;
  margin-top: 10px;
}

.breadcrumbs-item:nth-last-child(1) {
  background-image: url(../images/body/arrow.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
  margin-left: 10px;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog {
  background-color: #ffffff;
  width: 1200px;
}

.catalog-filter-list {
  display: grid;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.product-card-image {
  object-fit: contain;
  padding: 20px;
  padding-bottom: 16px;
}

.catalog-filter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-filter-form {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.button-apply {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 160px;
  padding: 14px 15px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.sorting-container {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  padding: 50px 71px 56px 72px;
}

.select-control {
  min-width: 290px;
  height: 49px;
  padding-left: 0;
  align-self: center;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 8px;
  background-color: #FFFFFF;
}

.card-grid-toggle:hover{
outline: 2px solid #000000;
}

.card-grid-toggle:nth-child(1) {
  background-image: url('../images/body/icon-table.svg');
}

.number-of-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  padding-right: 191px;
}

.product-card-catalog {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 66px;
  margin-right: 71px;
  margin-left: 73px;
}

.product-card-content {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.buttons-product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.product-card-button-more {
  width: 140px;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 15px;
}

.product-card-button-more:hover {
  color: #615048;
}

.product-card-button-more:focus {
  color: #615048;
}

.product-card-button-favourites {
  width: 140px;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 15px;
  align-items: center;
  text-align: center;
}

.product-card-button-favourites:hover {
  color: #68A2CA;
}

.product-card-button-favourites:focus {
  color: #68A2CA;
}

.rating-product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.rating {
  width: 140px;
  background-color: #F2F2F2;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 22px;
}

.pagination {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 71px;
  padding-bottom: 25px;
}

.pagination-container {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control-hotel {
  display: flex;
  min-width: 160px;
  height: 49px;
  margin-left: 51px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
}

.select-hotel {
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.select-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
}
