@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-bold-italic.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: #FFFFFF;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
}

.button-light {
    color: #242424;
    background-color: #ffffff;
}

/*Pages*/
.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    line-height: 26px;
    font-weight: 700px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;

}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/body/mountins.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.intro {
    background-color: #FFFFFF;
}

.intro-Sedona {
    background-color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-weight: 700px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.intro-reasons {
    background-color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-weight: 400px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

/*List*/
.advantages {
    text-align: center;
}

/*Title*/
.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

}


/* Advantages*/
.advantages-1 {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-2 {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.house {
    background-color: rgba(131, 179, 211, 0.12)
}

.food {
    background-color: rgba(255, 255, 255, 1);
}

.souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.small-area {
    background-color: rgba(131, 179, 211, 0.12)
}

.beauty-road {
    background-color: rgba(131, 179, 211, 0.2);
}

.few-tourists {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.letter {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: #FFFFFF;
    background-image: url(../images/body/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.letter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.field {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.button-letter-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.hotel-search {
    text-align: center;
}

.footer-social-item {}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
}

.main-inner {
    background-image: url(../images/body/catalog-background.jpg);
    color: #FFFFFF;
    background-size: 100%;
    background-repeat: no-repeat;
}

.breadcrumbs {
    color: #3F5E72;
}

.breadcrumbs-link {
    color: inherit;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.sorting-container {
    color: #000000;
    background-color: #ffffff;
}

.product-card {
    background-color: #ffffff;
    color: #000000;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    line-height: 36px;
    font-weight: 700;
}
.pagination-current {
    color:  #000000;
    background-color: #F2F2F2;
  }